# Environment & Secrets
.env
.env.*

# Database
db.sqlite3

# Uploads (user data)
uploads/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
dump.rdb
Redis-x64-5.0.14.1.zip
redis-windows/  
 